ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 15px;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: #0F4C5C;
  box-shadow: 4px 2px 5px gray;
  color: white;
  padding: 1.5rem 2rem;
  display: flex;
}

.login-btn {
  background: transparent;
  border: none;
  color: black;
  padding: 0.4rem 0.5rem;
}


.brand {
  cursor: pointer;
  font-size: 2rem;
  background-color: #FB8B24;
  margin-right: 1rem;
  border: 1px solid gray;
  border-radius: 20px;
  height: 40px;
  width: 138px;
  
}

.bi-youtube{
  fill: red;
  width: 120px;
  height: 165px;
  background-color: whites;
  position: relative;
  margin-right: 40px;
}

.user-login{
  background-color: aliceblue;
  width: 6em;
  height: 4em;
  border: 2px solid grey;
  border-radius: 20px;
}

.nav-bar-links{
  text-decoration: none;

}
.nav-bar-links:visited{
  color: black;
}
.nav-items{
  margin-top: auto;
  margin-left: 200px;
  
}